<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<section class="session">

    <div class="form">

        


    </div>

    <div class="content">
            <h3>Previsão para {}</h3>

            <div class="cards">
                <h4>dia</h4>
                <p>text</p>
                <div class="data">
                    <div class="data__index">

                    </div>
                    <div class="data__index">

                    </div>
                    <div class="data__index">

                    </div>
                    <div class="data__index">

                    </div>
                </div>
            </div>
    </div>

</section>

<%- include('partials/footer.ejs') %>